* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


a {
    color: hsl(0, 0%, 30%);
}

.contact {
    display: none;
    text-align: right;
    font-size: 85%;
    font-family: sans-serif;

    margin-right: 1.5rem;
}

.site-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Header Items werden zentriert */

    padding: .5rem 0rem;
    margin-bottom: 4rem;

    background-color: hsl(180, 0%, 100%);
}

.work-nav {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    /*align-items: center;*/
    /* Nav-Links werden zentriert dargestellt - funktioniert nicht mehr mit width 100% in .work-nav span*/
}

.work-nav span {
    /*border-left: .125rem solid #fff;*/
    /* weißer Strick vertikal links von Buttons */

    /*background-color: blue;*/
}

.upper-header {

    padding: 1.5rem 0 0 1.5rem;

    display: flex;
    justify-content: center;
}



.navbut {
    display: flex;
    justify-content: center;
    /* Text in Button wird zentriert */

    padding: 1rem;
    /*margin-top: .5rem;*/

    /*background-color: #000;*/
    text-decoration: none;
    border-bottom: .25rem solid #fff;
}

.navbut:hover {
    background-color: #fff;
    border-bottom: .25rem solid #fff;
}

.current-nav {
    background-color: #e0e0e0;
    color: #000;
}

.homeBGcol {
    background-color: #7694bc;
}

.homeTXTcol {
    color: #7694bc;
}

.psychoBGcol {
    background-color: #f9d95f;
}

.psychoTXTcol {
    color: #f9d95f;
}

.currentPsycho {}

.paarthBGcol {
    /*background-color: hsl(160, 60%, 70%);*/
    /* Meine Farbe */
    background-color: #9efad3;
}

.paarthTXTcol {
    color: #9efad3;
}



.hypnoseBGcol {
    background-color: hsl(350, 55%, 75%);
}

.hypnoseTXTcol {
    color: hsl(350, 55%, 75%)
}

.currentHypnose {}



.site-nav {
    display: none;
    /* Mobile nicht anzeigen, nur Desktop */


    padding: .5rem;
}

header .logo {
    margin: .5rem;
}

main {
    margin: .5rem;
}

p {
    margin: 1rem 1rem 2rem 1rem;
    font-family: "Roboto", serif;
    text-align: justify;
    text-indent: .75rem;
}

ul {
    margin: 1rem 1rem 2rem 1rem;
    font-family: "Roboto", serif;
}

q {
    padding: .5rem 3rem 1rem 3rem;
    font-family: "Helvetica-Neue", sans-serif;
    color: gray;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    margin-bottom: 2rem;
}

h1,
h2 {
    font-size: 2.75rem;
}

h3,
h4 {
    font-size: 2rem;
}

h5,
h6 {
    font-size: 1.5rem;
}

h2,
h4,
h6 {
    color: indianred;
}

.inhalt h1,
h2 {
    text-transform: uppercase;
    /*border-left: .25rem solid black;
    padding-left: 2rem;*/
    ;
}

footer {
    padding: 2rem 1rem;
    margin-top: 1rem;

    background-color: hsla(0, 0%, 90%, 90%);
}

.site-link {
    border-left: .125rem solid #000;
}

.site-nav-info {
    display: block;
    margin: .25rem 1rem;
    padding: .5rem;

    color: hsl(69, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
}




/* kleine Bildschirme (bspw. Telefone) */
@media only screen and (min-width: 30rem) {

    main {
        max-width: 55rem;
        margin: auto;
        padding: 1rem;

        /*background-color: hsl(0, 0%, 97%);*/
    }

    .site-nav {
        display: flex;
        justify-content: flex-end;

        background-color: inherit;
    }

    .site-nav .site-nav-info a {
        font-size: 85%;
    }

    .upper-header {
        max-width: 55rem;
        margin: auto;

        justify-content: space-between;
        align-items: flex-end;
    }

    .contact {
        display: contents;
    }

    .site-head {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: .5rem .5rem 3rem .5rem;
        margin: auto;
        max-width: 55rem;
        min-height: 12rem;
    }

    .work-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 3rem;
    }

    .navbut {
        padding: .25rem .5rem;
        margin: .75rem;

        text-decoration: none;
        font-size: 120%;
        transition: all .15s ease-in;
    }

    .navbut:hover {
        background-color: #fff;
        border-bottom: .125rem solid #000;
        transition: all .3s ease-in;
    }

    .current-nav {
        background-color: #fff;
        border-bottom: .125rem solid #000;
    }

    .current-nav:hover {
        border-bottom: .125rem dotted grey;
    }

    .homeBGcol {
        color: #000;
        background-color: hsl(0, 0%, 100%);
        border-bottom: .125rem solid #7694bc;
    }

    .hypnoseBGcol {
        background-color: hsl(0, 0%, 100%);
        color: #000;
        border-bottom: .125rem solid hsl(350, 55%, 75%);
    }

    .psychoBGcol {
        background-color: hsl(0, 0%, 100%);
        color: #000;
        border-bottom: .125rem solid #f9d95f;
    }

    .paarthBGcol {
        background-color: hsl(0, 0%, 100%);
        color: #000;
        border-bottom: .125rem solid #9efad3;
    }



    /*  F O O T E R  */

    .site-nav-info {
        padding: 0;
        margin-left: 1rem;
        background-color: inherit;
    }

    .site-nav-info a {
        color: cornflowerblue;
    }

    .site-link {
        border-left: .125rem solid cornflowerblue;
    }




}
